.buttons{
    position:absolute;
    cursor: pointer;
    z-index: 1;
}

.homeButton{
    top:15%;
    left: 5%;
}

.submitButton{
    top:28%;
    left: 5%;
}

.createButton{
    position:fixed;
    bottom: 5%;
    right: 5%;
}

@media screen and (max-height:600px) {
    .homeButton{
        top:20%
    } 
    .submitButton{
        top:32%
    }

    .topCorner{
        left: 1%;
    }
}